@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Betania+Patmos+In&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Poppins', serif;
  }

  .font-heading {
    font-family: 'Bebas Neue', sans-serif;
  }

  .font-brand {
    font-family: 'Betania Patmos In', sans-serif;
  }

  .font-cursive {
    font-family: 'Edu NSW ACT Cursive', cursive;
  }
}

html,
body {
  overflow-x: hidden;
}